### This workflow setup instance then build and push images ###
name: 4testing multiarch-build
run-name: >-
  Build #${{ inputs.build }} [
  ${{ inputs.amd64 && 'AMD64' || '' }}
  ${{ inputs.arm64 && 'ARM64' || '' }}
  ] [
  ${{ inputs.community && 'CE' || '-' }}
  ${{ inputs.developer && 'DE' || '-' }}
  ${{ inputs.enterprise && 'EE' || '-' }}
  ]
on:
  push:

env: 
  COMPANY_NAME: "onlyoffice"
  PRODUCT_NAME: "documentserver"
      
jobs:
  build:
    name: "Build"
    runs-on: 'ubuntu-latest' 
    strategy:
      fail-fast: false
    steps:
      - name: Checkout code 
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
     
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Prepare fonts cache
        id: fonts
        uses: actions/cache@v4
        with:
          path: fonts
          key: fonts-${{ runner.os }}-v1
      - name: Install fonts if not cached
        if: steps.fonts.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          echo "ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true" | sudo debconf-set-selections
          sudo apt-get install -y ttf-mscorefonts-installer
          mkdir -p fonts/msttcorefonts
          cp -a /usr/share/fonts/truetype/msttcorefonts/* fonts/msttcorefonts/

      - name: Build 4testing
        id: build-ds
        env:
          BRANCH_NAME: ${{ github.ref_name }}
          PLATFORM: linux/${{ matrix.platform }}
          BUILD_NUMBER: ${{ github.event.inputs.build }}
          EDITION: ${{ matrix.edition }}
          IMAGE: ${{ matrix.image }}
          PACKAGE_BASEURL: ${{ secrets.REPO_BASEURL }}
        run: |
          docker build . 
        shell: bash
